.target-categorias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width: 600px) {
    .target-categorias {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .target-categorias {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.categoria-card {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 16px;
}

.categoria-card img {
    width: 60px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 16px;
}

.categoria-card .categoria-content {
    display: inline-flex;
    flex-direction: column;
}

.btn-volver {
    margin-top: 16px;
    background-color: #e69138;
    border: 2px solid white;
}
