#cabecera-inicio{
    display: flex;
    flex-direction: row !important;
}

.inicio-container {
   /* display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b6d7a8;
    padding: 60px;
    text-align: center;
}


.agregar-planta-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin-bottom: 4%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.agregar-planta-button:hover {
    background-color: #45a049;
}


.agregar-recordatorio-button {
    background-color: #e69138;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.agregar-recordatorio-button:hover {
    background-color: #dd9849;
}

#img_jardin{
    width: 100px !important; 
    height: auto;
    padding: 16px;
}

.target-categorias {
    display: inline-flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width: 600px) {
    .target-categorias {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .target-categorias {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.categoria-card {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 16px;
}

.categoria-card .categoria-content {
    display: inline-flex;
    flex-direction: row;
}