/* src/components/WelcomeCarousel.css */

.carousel .carousel-slider {
    height: 100vh;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #333;
}

.carousel-image {
    max-width: 80%;
    max-height: 40%;
    margin-bottom: 20px;
}

.green-bg {
    background-color: #b6d7a8;
}

.carousel .legend {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 0 20px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.carousel-arrow-prev {
    left: 15px;
}

.carousel-arrow-next {
    right: 15px;
}
