body{
  background-color: #b6d7a8;
}

.App {
  text-align: center;
}

.App-seccion{
  background-color: #b6d7a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio-container {
  padding: 20px;
}
