.App {
  text-align: center;
}

.App-header {
  background-color: #6aa84f;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-seccion{
  background-color: #b6d7a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.install-button {
  background-color: #e69138;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#parrafoInstall{
  color: black;
}

@media (max-width: 600px) {
  .App-header{
    background-color: #b6d7a8;
  }
}
